body {
    font-family: Arial;
    margin: 0;
    background: #f4f4f4;
    text-align: center;
}

header {
    background: #333;
    color: white;
    padding: 20px;
}

section {
    background: white;
    margin: 20px auto;
    padding: 20px;
    width: 60%;
    border-radius: 5px;
}

#options button {
    display: block;
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    border: none;
    background: #ddd;
    cursor: pointer;
}

#options button:hover {
    background: #bbb;
}

#nextBtn, button {
    padding: 10px 20px;
    background: #333;
    color: white;
    border: none;
    cursor: pointer;
}

#nextBtn:hover, button:hover {
    background: #555;
}

.hidden {
    display: none;
}